@import '~bootstrap/scss/bootstrap.scss';
.contact-item {
    margin: 15px 0;
    .info {
        font-size: 20px;
        .female {
            width: 19px;
            height: 19px;
            margin-left: 5px;
        }
        .male {
            width: 16px;
            height: 16px;
            margin-left: 5px;
        }
    }
    &:nth-child(even) {
        background-color: rgb(240, 240, 240);
    }
}
.form-control {
    border-radius: 5px;
}
h1 {
      font-size: 23px;
      text-align: center;
      margin: 20px 0;
    }
    .input-group {
        width: 450px;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .form-check {
      font-size: 18px;
    }
    .form-check-input {
      width: 40px;
      height: 22px;
    }
    .form-check-label {
      margin-top: 2px;
      color: black;
      font-weight: 400;
    }
.container-contacts {
    width: 70%;
    margin: 20px auto;
}
.link-contacts {
    text-decoration: none;
    cursor: pointer;
    color: black;
}