$blue: rgba(21,32,43,255);
$grey: rgba(130,147,160,255);

.container-twitter {
    background-color: $blue;
}
.post {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
    .photo {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
    > div {
        margin-left: 10px;
    }
}
.header {
    font-size: 17px;
    color: white;
    font-weight: 500;
    margin: 5px 0;
    max-width: 750px;
    span {
        padding-left: 10px;
        font-weight: 400;
        color: $grey;
    }
}
.content {
    margin: 10px 0;
    font-size: 20px;
    color: white;
    font-weight: 400;
    min-width: 650px;
}
.image {
    margin: 5px 0;
    max-width: 650px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 5px;
}